footer{
    width: 100%;
    background-color: $morado01;
    padding: 220px 0 100px;

        h4{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            color: $blanco;
        }
        
        a{
            color: $amarillo01;
            font-weight: 600;
            text-decoration: none;

            &:hover{
                color: $rojo02;
            }
        }
}