$azul01: #3c50e0;
$azul02: #7b86a3;
$azul03: #95a6e5;
$azul04: #dfe7ff;
$azul05: #f0f5fc;
$azul06: #f9f8fc;
$morado01: #07003b;
$morado02: #464265;
$rojo01: #ff5670;
$rojo02: #ffbcbd;
$rojo03: #fff1f2;
$amarillo01: #fcb300;
$amarillo02: #fff6e3;
$amarillo03: #ffdc97;
$blanco: #fff;
$gris01: #bdc4d7;
$gris02: #f5f6f9;
$gris03: #e4e7f6;