* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 1600px;
  min-width: 1600px;
  margin: 0 auto;
}

#menu {
  width: 100%;
  padding: 25px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu h3 {
  font-size: 30px;
  color: #07003b;
}

#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

#menu ul li a {
  font-size: 15px;
  font-weight: 700;
  color: #7b86a3;
  margin: 0 25px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#menu ul li a:hover {
  color: #95a6e5;
}

#menu button {
  width: 106px;
  height: 57px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#menu button:first-child {
  border: 2px solid #dfe7ff;
  background-color: #fff;
  color: #3c50e0;
  margin-right: 10px;
}

#menu button:first-child:hover {
  border: 2px solid #dfe7ff;
  background-color: #dfe7ff;
  color: #7b86a3;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#menu button:last-child {
  border: 2px solid #3c50e0;
  background-color: #3c50e0;
  color: #fff;
}

#menu button:last-child:hover {
  border: 2px solid #dfe7ff;
  background-color: #dfe7ff;
  color: #7b86a3;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#banner {
  width: 100%;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#banner .bannerR {
  width: 922px;
  padding: 100px 0 0 228px;
}

#banner .bannerR h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 85px;
  color: #07003b;
  margin-bottom: 35px;
}

#banner .bannerR p {
  font-size: 15px;
  font-weight: 600;
  color: #7b86a3;
  margin-bottom: 35px;
}

#banner .bannerR button {
  width: 210px;
  height: 70px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid #3c50e0;
  background-color: #3c50e0;
  color: #fff;
}

#banner .bannerR button:hover {
  background-color: #fff;
  color: #3c50e0;
}

#banner .bannerR .triangulo01 {
  width: 45px;
  height: 45px;
  background-color: #95a6e5;
  margin-top: 45px;
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

#banner .bannerL {
  width: 678px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#banner .bannerL .triangulos {
  width: 50%;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#banner .bannerL .triangulos .triangulo02 {
  width: 50%;
  height: 50%;
  background-color: #3c50e0;
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
}

#banner .bannerL .triangulos .triangulo02:nth-child(2), #banner .bannerL .triangulos .triangulo02:nth-child(4) {
  background-color: #95a6e5;
}

#banner .bannerL .circulos {
  width: 50%;
  height: 322px;
}

#banner .bannerL .circulos .circulo01 {
  width: 100%;
  height: 50%;
  background-color: #ffbcbd;
  -webkit-clip-path: circle(60.5% at 50% 0);
          clip-path: circle(60.5% at 50% 0);
}

#banner .bannerL .circulos .circulo01:last-child {
  background-color: #ff5670;
  -webkit-clip-path: circle(60.5% at 50% 100%);
          clip-path: circle(60.5% at 50% 100%);
}

#banner .bannerL .news {
  position: relative;
  left: -37px;
  width: 243px;
  height: 213px;
  margin-top: 64px;
  background-color: #f0f5fc;
  border-radius: 20px;
  padding: 40px;
}

#banner .bannerL .news p:first-child {
  color: #3c50e0;
  font-size: 12px;
  font-weight: 700;
  background-color: #dfe7ff;
  display: inline-block;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 18px;
}

#banner .bannerL .news h3 {
  font-size: 20px;
  font-weight: 600;
  color: #464265;
  margin-bottom: 10px;
}

#banner .bannerL .news p:last-child {
  font-size: 15px;
  font-weight: 700;
  color: #7b86a3;
}

#banner .bannerL .arcos {
  width: 50%;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .bannerL .arcos .arco01 {
  width: 50%;
  height: 100%;
  background-color: #fcb300;
}

#banner .bannerL .arcos .arco01:last-child {
  -webkit-clip-path: circle(64% at 0 50%);
          clip-path: circle(64% at 0 50%);
}

#banner .bannerL .sjab {
  position: absolute;
  top: 106px;
  left: 169px;
  width: 400px;
  background-color: #ffffff;
  padding: 50px 40px 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#banner .bannerL .sjab > i {
  display: inline-block;
  color: #3c50e0;
  font-size: 40px;
}

#banner .bannerL .sjab h2 {
  display: inline;
  font-size: 25px;
  color: #464265;
  margin-left: 20px;
  font-weight: 600;
}

#banner .bannerL .sjab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 50px;
}

#banner .bannerL .sjab ul li {
  width: 48%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
}

#banner .bannerL .sjab ul li i {
  font-size: 25px;
  margin-bottom: 10px;
}

#banner .bannerL .sjab ul li p {
  font-size: 12px;
  color: #464265;
  font-weight: 600;
}

#banner .bannerL .sjab ul .rojo {
  background-color: #fff1f2;
}

#banner .bannerL .sjab ul .rojo i {
  color: #ff5670;
}

#banner .bannerL .sjab ul .azul {
  background-color: #f0f5fc;
}

#banner .bannerL .sjab ul .azul i {
  color: #3c50e0;
}

#banner .bannerL .sjab ul .amarillo {
  background-color: #fff6e3;
}

#banner .bannerL .sjab ul .amarillo i {
  color: #fcb300;
}

#banner .bannerL .sjab ul .gris {
  background-color: #f9f8fc;
}

#banner .bannerL .sjab ul .gris i {
  color: #07003b;
}
/*# sourceMappingURL=styles.css.map */