* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 1600px;
  min-width: 1600px;
  margin: 0 auto;
}

#menu {
  width: 100%;
  padding: 25px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu h3 {
  font-size: 30px;
  color: #07003b;
}

#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

#menu ul li a {
  font-size: 15px;
  font-weight: 700;
  color: #7b86a3;
  margin: 0 25px;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#menu ul li a:hover {
  color: #95a6e5;
}

#menu button {
  width: 106px;
  height: 57px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#menu button:first-child {
  border: 2px solid #dfe7ff;
  background-color: #fff;
  color: #3c50e0;
  margin-right: 10px;
}

#menu button:first-child:hover {
  border: 2px solid #dfe7ff;
  background-color: #dfe7ff;
  color: #7b86a3;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#menu button:last-child {
  border: 2px solid #3c50e0;
  background-color: #3c50e0;
  color: #fff;
}

#menu button:last-child:hover {
  border: 2px solid #dfe7ff;
  background-color: #dfe7ff;
  color: #7b86a3;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#banner {
  width: 100%;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#banner .bannerR {
  width: 922px;
  padding: 100px 0 0 228px;
}

#banner .bannerR h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 85px;
  color: #07003b;
  margin-bottom: 35px;
}

#banner .bannerR p {
  font-size: 15px;
  font-weight: 600;
  color: #7b86a3;
  margin-bottom: 35px;
}

#banner .bannerR button {
  width: 210px;
  height: 70px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid #3c50e0;
  background-color: #3c50e0;
  color: #fff;
}

#banner .bannerR button:hover {
  background-color: #fff;
  color: #3c50e0;
}

#banner .bannerR .triangulo01 {
  width: 45px;
  height: 45px;
  background-color: #95a6e5;
  margin-top: 45px;
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

#banner .bannerL {
  width: 678px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#banner .bannerL .triangulos {
  width: 50%;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#banner .bannerL .triangulos .triangulo02 {
  width: 50%;
  height: 50%;
  background-color: #3c50e0;
  -webkit-clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 50% 50%, 100% 100%, 0 100%);
}

#banner .bannerL .triangulos .triangulo02:nth-child(2), #banner .bannerL .triangulos .triangulo02:nth-child(4) {
  background-color: #95a6e5;
}

#banner .bannerL .circulos {
  width: 50%;
  height: 322px;
}

#banner .bannerL .circulos .circulo01 {
  width: 100%;
  height: 50%;
  background-color: #ffbcbd;
  -webkit-clip-path: circle(60.5% at 50% 0);
          clip-path: circle(60.5% at 50% 0);
}

#banner .bannerL .circulos .circulo01:last-child {
  background-color: #ff5670;
  -webkit-clip-path: circle(60.5% at 50% 100%);
          clip-path: circle(60.5% at 50% 100%);
}

#banner .bannerL .news {
  position: relative;
  left: -37px;
  width: 243px;
  height: 213px;
  margin-top: 64px;
  background-color: #f0f5fc;
  border-radius: 20px;
  padding: 40px;
}

#banner .bannerL .news p:first-child {
  color: #3c50e0;
  font-size: 12px;
  font-weight: 700;
  background-color: #dfe7ff;
  display: inline-block;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 18px;
}

#banner .bannerL .news h3 {
  font-size: 20px;
  font-weight: 600;
  color: #464265;
  margin-bottom: 10px;
}

#banner .bannerL .news p:last-child {
  font-size: 15px;
  font-weight: 700;
  color: #7b86a3;
}

#banner .bannerL .arcos {
  width: 50%;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .bannerL .arcos .arco01 {
  width: 50%;
  height: 100%;
  background-color: #fcb300;
}

#banner .bannerL .arcos .arco01:last-child {
  -webkit-clip-path: circle(64% at 0 50%);
          clip-path: circle(64% at 0 50%);
}

#banner .bannerL .sjab {
  position: absolute;
  top: 106px;
  left: 169px;
  width: 400px;
  background-color: #ffffff;
  padding: 50px 40px 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

#banner .bannerL .sjab > i {
  display: inline-block;
  color: #3c50e0;
  font-size: 40px;
}

#banner .bannerL .sjab h2 {
  display: inline;
  font-size: 25px;
  color: #464265;
  margin-left: 20px;
  font-weight: 600;
}

#banner .bannerL .sjab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 50px;
}

#banner .bannerL .sjab ul li {
  width: 48%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
}

#banner .bannerL .sjab ul li i {
  font-size: 25px;
  margin-bottom: 10px;
}

#banner .bannerL .sjab ul li p {
  font-size: 12px;
  color: #464265;
  font-weight: 600;
}

#banner .bannerL .sjab ul .rojo {
  background-color: #fff1f2;
}

#banner .bannerL .sjab ul .rojo i {
  color: #ff5670;
}

#banner .bannerL .sjab ul .azul {
  background-color: #f0f5fc;
}

#banner .bannerL .sjab ul .azul i {
  color: #3c50e0;
}

#banner .bannerL .sjab ul .amarillo {
  background-color: #fff6e3;
}

#banner .bannerL .sjab ul .amarillo i {
  color: #fcb300;
}

#banner .bannerL .sjab ul .gris {
  background-color: #f9f8fc;
}

#banner .bannerL .sjab ul .gris i {
  color: #07003b;
}

#tarjetas {
  width: 100%;
  height: 1860px;
  background-color: #f0f5fc;
  padding: 160px 228px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tarjetas .txt {
  width: 525px;
}

#tarjetas .txt p:first-child {
  font-size: 12px;
  font-weight: 700;
  color: #3c50e0;
  margin-bottom: 45px;
}

#tarjetas .txt h2 {
  font-size: 60px;
  color: #07003b;
  margin-bottom: 35px;
}

#tarjetas .txt p:last-child {
  font-size: 16px;
  font-weight: 500;
  color: #7b86a3;
}

#tarjetas .tarjeta {
  width: 525px;
  height: 645px;
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 80px;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tarjetas .tarjeta h4 {
  font-size: 40px;
  color: #07003b;
  text-align: center;
  margin: 70px 0 40px;
}

#tarjetas .tarjeta p {
  font-size: 18px;
  font-weight: 500;
  color: #7b86a3;
  text-align: center;
}

#tarjetas .rete {
  padding-top: 120px;
  top: 140px;
}

#tarjetas .rete .barras {
  width: 300px;
  height: 240px;
  padding: 0 35px 35px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#tarjetas .rete .barras div {
  width: 35px;
  height: 135px;
  background-color: #3c50e0;
  border-radius: 5px;
  -webkit-animation-name: barrasAnimadas;
          animation-name: barrasAnimadas;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#tarjetas .rete .barras div:nth-child(1) {
  -webkit-animation-duration: 2.3s;
          animation-duration: 2.3s;
}

#tarjetas .rete .barras div:nth-child(2) {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#tarjetas .rete .barras div:nth-child(3) {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

#tarjetas .rete .barras div:nth-child(4) {
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
}

#tarjetas .rete .barras div:nth-child(5) {
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
}

#tarjetas .rete .torta {
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 90px;
  left: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tarjetas .rete .torta div {
  width: 35px;
  height: 70px;
}

#tarjetas .rete .torta div:first-child {
  background-color: #3c50e0;
  border-radius: 100px 0 0 100px;
}

#tarjetas .rete .torta div:last-child {
  background-color: #ff5670;
  border-radius: 0 100px 100px 0;
}

#tarjetas .afs {
  padding-top: 90px;
  top: -240px;
}

#tarjetas .afs .contenedor-calendario {
  width: 365px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tarjetas .afs .contenedor-calendario div .calendario {
  width: 133px;
  height: 70px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tarjetas .afs .contenedor-calendario div .calendario:last-child {
  -webkit-animation-name: calendarioAnimado;
          animation-name: calendarioAnimado;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

#tarjetas .afs .contenedor-calendario div .calendario:last-child p {
  -webkit-animation-name: calendarioAnimado;
          animation-name: calendarioAnimado;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

#tarjetas .afs .contenedor-calendario div .calendario p {
  font-size: 30px;
  color: #fcb300;
  text-align: left;
  margin: 0 16px;
}

#tarjetas .afs .contenedor-calendario div .calendario div .linea01 {
  width: 62px;
  height: 6px;
  background-color: #fcb300;
  border-radius: 15px;
  margin-bottom: 8px;
}

#tarjetas .afs .contenedor-calendario div .calendario div .linea02 {
  width: 31px;
  height: 6px;
  background-color: #fcb300;
  border-radius: 15px;
}

#tarjetas .afs .contenedor-calendario div .calendario:last-child .linea01 {
  -webkit-animation-name: calendarioBarra;
          animation-name: calendarioBarra;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

#tarjetas .afs .contenedor-calendario div .calendario:last-child .linea02 {
  -webkit-animation-name: calendarioBarra;
          animation-name: calendarioBarra;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

#tarjetas .afs .contenedor-calendario .dialogos {
  width: 211px;
  height: 253px;
  border: 2px solid #e4e7f6;
  border-radius: 20px;
  margin-left: 15px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo01 {
  width: 98px;
  height: 8px;
  border-radius: 15px;
  background-color: #e4e7f6;
  margin: 29px auto 0 auto;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo02 {
  width: 162px;
  height: 61px;
  border-radius: 10px;
  background-color: #f5f6f9;
  margin: 22px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo02 i {
  font-size: 24px;
  color: #bdc4d7;
  margin: 0 19px 0 23px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo02 div .lineas-dialogos {
  width: 74px;
  height: 6px;
  background-color: #bdc4d7;
  border-radius: 15px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo02 div .lineas-dialogos:last-child {
  width: 43px;
  margin-top: 8px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 {
  width: 162px;
  height: 101px;
  border-radius: 10px;
  background-color: #f5f6f9;
  margin: 13px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 21px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 i {
  font-size: 24px;
  color: #bdc4d7;
  margin: 0 19px 0 23px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 div .lineas-dialogos {
  height: 6px;
  background-color: #bdc4d7;
  border-radius: 15px;
  margin-bottom: 8px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 div .lineas-dialogos:nth-child(1) {
  width: 73px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 div .lineas-dialogos:nth-child(2) {
  width: 42px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 div .lineas-dialogos:nth-child(3) {
  width: 80px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 div .lineas-dialogos:nth-child(4) {
  width: 26px;
}

#tarjetas .afs .contenedor-calendario .dialogos .dialogo03 div .lineas-dialogos:nth-child(5) {
  width: 42px;
}

#tarjetas .hand {
  top: 140px;
}

#tarjetas .email {
  top: -240px;
}

@-webkit-keyframes barrasAnimadas {
  0% {
    height: 10px;
  }
  50% {
    height: 135px;
  }
  100% {
    height: 10px;
  }
}

@keyframes barrasAnimadas {
  0% {
    height: 10px;
  }
  50% {
    height: 135px;
  }
  100% {
    height: 10px;
  }
}

@-webkit-keyframes calendarioAnimado {
  0% {
    background-color: #fff;
    color: #fcb300;
  }
  50% {
    background-color: #fcb300;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #fcb300;
  }
}

@keyframes calendarioAnimado {
  0% {
    background-color: #fff;
    color: #fcb300;
  }
  50% {
    background-color: #fcb300;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #fcb300;
  }
}

@-webkit-keyframes calendarioBarra {
  0% {
    background-color: #fcb300;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #fcb300;
  }
}

@keyframes calendarioBarra {
  0% {
    background-color: #fcb300;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #fcb300;
  }
}
/*# sourceMappingURL=styles.css.map */